<ng-container *ngIf="!isDisplay">
    <ul *ngIf="name!=null">
        <li *ngFor="let uname of name['results'] | slice:0:10">{{uname['name']}}</li>
    </ul>
</ng-container>

<ng-container *ngIf="isDisplay">
    <ul *ngIf="name!=null">
        <li *ngFor="let uname of name['results'] | slice:(itemIndex*itemSize):((itemIndex+1)*itemSize)">{{uname['name']}}</li>
    </ul>
</ng-container>



<!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator> -->
<ng-container *ngIf="isActive">

    <mat-paginator [length]="latestValue" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[50,100, 150, 200, 250, 300]" (page)="pageEvent = getServerData($event)">
    </mat-paginator>
</ng-container>


<!-- <mat-paginator #paginator [length]="arrayLength" [pageIndex]="1" [pageSize]="10" [pageSizeOptions]="[50,100, 150, 200, 250, 300]" (page)="pageEvent = getServerData($event)">
</mat-paginator> -->